<body class="bg-[#FDFCFB] m-0 p-0 overflow-x-hidden">
    <div class="fixed inset-0 z-0 pointer-events-none">
        <div id="bg-spotlight" class="absolute inset-0 opacity-10"></div>
        <div class="particles-field absolute inset-0">
             </div>
    </div>

    <main class="relative z-10 w-full min-h-screen">
        <slot />
    </main>
</body>